* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-default);
  color: #fff;
  background-color: #000;
}
.header {
  transition: all ease 0.5s;
  z-index: 997;
  padding: 30px 0;
}
.align-item-center {
  align-items: center !important;
}
a {
  color: var(--color-primary);
  text-decoration: none;
}
